/.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

bin/
obj/
packages/
*.dll
*.exe
*.pdb
*.msi

*.log
*.cache
*.pid
*.seed
*.pid.lock

appsettings.Development.json
appsettings.Production.json
secrets.json

publish/
PublishScripts/

.vscode/
*.vsix

.nuget/
project.lock.json