@{
    Layout = null; 
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Главная - Мой магазин</title>
</head>
<body>
    <h1>Добро пожаловать в наш интернет-магазин!</h1>
    <p>Это главная страница. Здесь вы найдете лучшие товары по низким ценам.</p>

    <hr />

    <h3>Навигация:</h3>
    <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/Home/Products">Товары</a></li>
    </ul>
</body>
</html> 
